*.pyc
mxbuild/
src/build
/.vscode/
/nbproject/
/src/utils/LogCompilation/target/
/.project/
/.settings/
*.so
*.a
*.swp
/compile_commands.json
/.cache
/.jdk-update-state.json
/.jdk-update-state.json.lock
